body, html {
    height: 100%;
    margin: 0;
    font-family: cursive;
}
  
/*First nav */
.mybg {
    background-color: rgb(145, 157, 123);
    margin: 0;
}

.navbar-brand {
    margin: 10px 10px 10px 200px;
    font-size: medium;
    font-family: cursive;
}

.nav-pills {
    margin: 10px 200px 10px 10px;
}

.nav-link{
    color: white;
    opacity: 0.5;
}

/* Second nav */
.navbg {
    background-color: white;
}

.nav.navbar-nav.ml-auto li a {
    color: rgb(115, 125, 98);
}

.collapse.navbar-collapse {
    margin: 80px 200px 80px 0;
}

/*Hero section */

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../img/nature.jpg");
    height: 90%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
  
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 50px;
}

/* Project features */

#project-features {
    text-align: center;
    margin: 100px;
    color: rgb(115, 125, 98);
    font-family: cursive;
}

/* Why nature */
#whynature {
    margin: 100px 55px 100px 65px;
    padding: 0;
}

.col-lg-8 h2{ 
    font-weight: bold;
    color: rgb(76, 70, 70);
    font-family: cursive;
}

.lead{
    margin: 15px 0 0 0;
    color: rgb(115, 125, 98);
    font-weight: normal;
    font-family: cursive;
}

/* Our Team */
.centerh4 {
    text-align: center;
    margin: 70px;
}
.lead-center {
    text-align: center;
    margin: 50px;
    opacity: 0.5;
}

.line-center {
    text-align: center;
    margin: 40px;
    font-size: x-large;
    font-weight: bolder;
}

#our-team{
    background: url(../img/darkgreen.jpg) no-repeat;
    background-size: cover;
    width: 100%;
    height: 550px;
    color: white;
    text-align: center;
    font-family: cursive;
}

/* Join now */
#optin {
    background-color: rgb(69, 68, 68);
    color: white;
}

.lead2 {
    font-family: cursive;
    letter-spacing: 0.1em;
    margin: 50px 20px 10px 0;
}

/* Partners */
.unordered-list ul li img {
    display: inline-block;
    text-decoration: none;
    float: left;
    margin: 90px 20px 70px 160px;
}

/* Shop */
.container.shop {
    position: relative;
}
.text-block {
    font-family: cursive;
    position: absolute;
    bottom: 50px;
    right: 240px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

/* Contact */
#contact {
    background-color: rgb(57, 55, 55);
    text-align: center;
    width: 100%;
    height: 300px;
    color: white;
    font-family: cursive;
    top: 50%;
}


    
/* Footer */

.footer-list-item {
    list-style-type: none;
    display: inline-block;
}

.footer-list {
    margin-top: 20px;
    padding: 40px 0;
    text-align: center;
}
.footer-list-item a {
    color: rgb(130, 125, 122);
    size: medium;
    margin: 25px;
}

.fa-mycustomx {
    font-size: 25px;
    font-weight: bold;
}



 
